<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tu Trámite</title>
    <meta name="author" content="Tu Trámite">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="{% static 'assets/img/favicon.ico' %}"
          type="image/png">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/perfect-scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/morris.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert-overrides.css' %}">
</head>