{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/js/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/js/rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/sweetalert-init.js' %}"></script>
